
<div class="container">
    <div class="title">
        <h1>Sign In</h1>
    </div>
    <form class="form bg-blue-100 px-10 py-5 gap-5 rounded-2xl shadow-md shadow-slate-300">
        <input type="text" class="bg-transparent border-b-2 border-b-blue-300 " placeholder="Escribe tu nombre" required>
        <input type="text" class="bg-transparent border-b-2 border-b-blue-300" placeholder="Escribe tu apellido">
        <button type="submit" class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white"><a href="/dashboard">Ingresar</a></button>
        <div class="register-box flex">
            <p>Si no tiene una cuenta <a href="/registro">Registrese</a></p>
        </div>
        
    </form>
</div>
