<div class="container">
    <div class="title">
        <h1>Sign In</h1>
    </div>
    <form class="form bg-blue-400 text-white px-10 py-5 gap-5 rounded-2xl shadow-md shadow-slate-300" [formGroup]="formulario" (ngSubmit)="consultarUsuarios()">
        <input type="text" class="bg-slate-50 focus:outline-none rounded-lg py-2 border-b-2 text-black border-b-blue-300 " placeholder="Escribe tu nombre de usuario" formControlName="nombre" >
        <div class="bg-red-400 py-2 rounded-md" *ngIf="formulario.get('nombre')?.hasError('required')">
            El campo es obligatorio.
        </div>
        <input type="text" class="bg-slate-50 focus:outline-none rounded-lg py-2 border-b-2 text-black  border-b-blue-300" placeholder="Escribe tu constraseña" formControlName="contraseña"     >
        <div class="bg-red-400 py-2 rounded-md" *ngIf="formulario.get('contraseña')?.hasError('required')">
            El campo es obligatorio.
        </div>
        <button type="submit" class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white">Ingresar</button>
        <div class="register-box flex ">
            <a class="text-red-900" href="/registro"> Si no tiene una cuenta Registrese</a>
        </div>
        <div class="register-box flex">
            <a class="text-red-900" href="/recuperacion">Recuperar Contraseña</a>
        </div>
    </form>

</div>
