@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    padding: 0%;
    margin: 0%;
    font-family: 'Quicksand', sans-serif;
}

.d, .i{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.item{
    justify-content: space-around;
    display: flex;
    align-items:end;
    width: 200px;
    text-decoration: none;
    color: rgb(255, 255, 173);
    font-size: 1.2rem;
    font-weight: bolder;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    padding: .5rem;
    background-color: rgb(33, 33, 80);
    align-items: center;
   
}

img{

width: 4vw;


}

